body {
  min-width: 850px;
}

h1, h2, p, li {
  font-family: helvetica;
}

p {
  margin: 15px 30px;
  font-weight: 310;
}

header {
  background-color: black;
  border-bottom: none;
  height: 54px;
}

header h1 {
  color: rgb(232, 238, 247);
  float: left;
  margin: 10;
  font-size: 25px;
  font-weight: bold;
}

header button {
  background-color: #64B918;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  float: right;
  height: 54px;
}

header button:hover {
  background-color: #FB05FF;
}

nav {
  background-color : #0F3670;
  height: 40px;
  border-top: .5px solid rgb(232, 238, 247);
  border-bottom: .5px solid rgb(232, 238, 247);
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 12px 100px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: gray;
}

.featured {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  height: 360px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.copy {
  background-color: black;
  color: white;
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.more_landmarks {
  width: auto;
  padding: 25 10 5 10;
  margin: auto;
  font-weight: bold;
  background: rgb(232, 238, 247);
}

.more_landmarks div {
  display: inline-block;
  width: 31%;
  margin: 20px 1% 5px 1%;
}

.more_landmarks div div {
  width: auto;
  margin: auto;
  overflow-y: hidden;
  height: 210px
}

.more_landmarks img {
  width: 100%;
  margin: -70px 0;
  height: 350px;
  overflow: hidden;
}

footer {
  background-color: black;
  font-size: 12px;
  color: rgb(232, 238, 247);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
